[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = ">=2.22.0,<3"
cryptos = ">=1.36,<2"
chainside-btcpy = ">=0.6.4,<1"
mnemonic = ">=0.19,<1"

[packages]
pyshuttle = {editable = true,path = "."}

[requires]
python_version = "3.8"
